//COLORS

//TEXT

$pale-violet : #d89eff; //(sub-heading at the top of the app UI)
$moderate-violet : #9241c8; //(chat on the left)
$desaturated-dark-violet : #6e5d7e; //(chat on the right)
$grayish-blue: #c6cacd;// (placeholder text)
$very-dark-desaturated-violet: #3e2753;// (main heading)
$dark-grayish-violet : #a39daa;//(paragraph)

//Gradients
//These two colors are the vibrant background colors you see throughout the design and are applied as a linear gradient:
$light-magenta: #e942ff;
$light-violet: #8838ff;

//Secondary

$white: #ffffff;
$light-grayish-violet : #f5f3f7;//(app background)
$very-dark-desaturated-violet: #3e2753; // (submit button background)
$very-light-magenta : #e570ff; //(radio button outline)