@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
@import "resource";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  background-color: rgba(35, 35, 141, 0.479);
  margin: 100px;
}

.cellphone {
  border: 8px solid $white;
  width: 255px;
  height: 510px;
  border-radius: 20px;
  box-shadow: 12px 12px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;

  .top--center__cellphone {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: $white;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    width: 129px;
    height: 22px;
  }
  .top__cellphone {
    width: 240px;
    height: 67px;
    background-image: linear-gradient(120deg, $light-violet, $light-magenta);
  } 
}

.top__cellphone--box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px 0;
}
.top__cellphone--ico {
  width: 12px;
  height: 12px;
}
.top__cellphone--user {
  display: flex;
  align-items: center;
  gap: 10px;
}
.cellphone__user--img {
  width: 26px;
  height: 26px;
  border-radius: 32px;
  border: 1px solid $white;
}
.cellphone__user--name {
  font-size: 11px;
  font-weight: 500;
  color: $white;
  margin-bottom: 3px;
}
.cellphone__user--status {
  font-size: 9px;
  font-weight: 400;
  color: $pale-violet;
}

//CONTAINER CELLPHONE
 .container__cellphone {
    width: 100%;
    height: 100%;
    background-color: $light-grayish-violet;
    padding:8px;
    display:flex;
    flex-direction: column;
    .container___popup--left{
        width:55%;
        height:auto;
        border-top-left-radius:12px ;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        border-bottom-left-radius: 4px;
        /*Orientacion de los mensajes hacia la izquierda*/
        align-self: flex-start;
        margin-bottom: 5px;
        background-color: #ede5f4;
    }
    .container__popup--paragraph{
        font-size: 9px;
        padding:8px 14px 8px 8px;
        color:$moderate-violet;
    }
    .container___popup--right--img{
        width:60%;
        background-color: transparent;
         align-self: flex-end;
         margin-bottom: 5px;
    }
    .container___popup--right{
        width:55%;
        height:auto;
        border-top-left-radius:12px ;
        border-top-right-radius: 12px;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 4px;
        /*Orientacion de los mensajes hacia la derecha*/
        align-self: flex-end;
        margin-bottom: 5px;
        background-color: $white;
    }
    .container__popup--paragraph-right{
        font-size: 9px;
        padding:8px 6px 8px 8px;
        color:$desaturated-dark-violet;
    }
    .container__popup--img{
        width:40px;
        height:40px;
        border-radius: 10px;
    }
    .container___popup--left--call{
        width:75%;
        height:auto;
        border-top-left-radius:12px ;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        border-bottom-left-radius: 4px;
        /*Orientacion de los mensajes hacia la izquierda*/
        align-self: flex-start;
        margin-bottom: 5px;
        background-image: linear-gradient(130deg,$light-magenta,$light-violet);
        display:flex;
        justify-content: space-between;
        padding:12px 12px;
    }
    .call__time--box{
        display:flex;
        gap:5px;
        align-items: center;
    }
    .call__time{
        font-size: 10px;
        font-weight:300;
        color:$white;
    }
    .call__time--price{
        font-size:14px;
        font-weight: 500;
        color:$white;
    }
    .input--call__time{
        background-color: transparent;
        border:1px solid rgba(255, 255, 255, 0.37);
        border-radius: 32px;
        width:12px;
        height:12px;
    }    
  }
  .container___popup{
        width:100%;
        margin-top: 7px;
        .container__popup--form{
            display:flex;
            position:relative;
        }
        .container__popup--text{
            width:100%;
        }
        .input__popup--text{
            width:100%;
            padding:8px;
            border:none;
            border-radius: 32px;
            color:$grayish-blue;
        }
        .container__popup--right-arrow{
            background-color: #000;
            position:absolute;
            top:4px;
            right:0;
            left:0;
            margin:0 0 0 auto;
            width:24px;
            height:24px;
            border-radius: 32px;
        }
        .container__popup--ico{
            display:block;
            margin:6px auto 0;
            width:12px;
            height:12px;
        }
    }