@import 'fonts';
@import 'normalize';
@import 'mixin';

.main {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    @include content-width;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
        "cellphone"
        "description";
    gap: 71px;
    padding: 70px 0;
}

.ellipse {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 50%;
    width: 100%;
    /* 200 */
    height: 500px;
    background: var(--Gradient-bg);
    background-image: var(--Gradient01);
    border-right: 1px solid var(--White);
    border-bottom-right-radius: 220px;
    -webkit-box-shadow: 3px 3px 3px -1px rgba(255, 255, 255, 1);
    -moz-box-shadow: 3px 3px 3px -1px rgba(255, 255, 255, 1);
    box-shadow: 3px 3px 3px -1px rgba(255, 255, 255, 1);
}

.ellipse-down {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 50%;
    width: 100%;
    /* 200 */
    height: 500px;
    background: var(--gray);
    border-right: 1px solid var(--White);
    border-top-left-radius: 220px;
    -webkit-box-shadow: 3px 3px 3px -1px rgba(255, 255, 255, 1);
    -moz-box-shadow: 3px 3px 3px -1px rgba(255, 255, 255, 1);
    box-shadow: 3px 3px 3px -1px rgba(255, 255, 255, 1);
    opacity: 0.3;
}

.cellphone {
    grid-area: cellphone;
    position: relative;
    z-index: 100;
    max-width: 250px;
    width: 100%;
    margin: 0 auto;
    height: 506px;
    border: 12px solid var(--White);
    border-radius: 28px;
    -webkit-box-shadow: 0px 30px 24px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 30px 24px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 30px 24px 1px rgba(0, 0, 0, 0.1);
    background-color: var(--app-background);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    &__top {
        background: var(--Gradient-bg);
        background-image: var(--Gradient);
        height: 65px;
        position: relative;
        border-radius: 0 0 8px 8px;
        -webkit-box-shadow: 0px 2px 19px -7px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 2px 19px -7px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 2px 19px -7px rgba(0, 0, 0, 0.2);

        &--camera {
            width: 130px;
            height: 17px;
            background-color: var(--White);
            border-bottom-left-radius: 12px;
            border-bottom-right-radius: 12px;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            -webkit-box-shadow: 0px 2px 19px -7px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 0px 2px 19px -7px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 2px 19px -7px rgba(0, 0, 0, 0.2);
        }

        &--perfil {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            padding: 11px 14px 0;
        }

        $gap: 9px;

        &--left {
            display: flex;
            align-items: center;
            gap: $gap;
        }

        &--username {
            display: flex;
            align-items: center;
            gap: $gap;
        }

        &--information {
            display: flex;
            flex-direction: column;
            gap: 2px;
        }

        &--back svg {
            width: 5px;
            padding-bottom: 2px;
        }

        &--userImg {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            display: block;
            outline: 1px solid var(--White);
        }

        &--setting svg {
            width: 4px;
        }

        &--name {
            font-size: 0.6rem;
            text-transform: capitalize;
            color: var(--White);
            font-weight: 500;
        }

        &--status {
            font-size: 0.6rem;
            color: var(--Pale-Violet);
        }
    }

    &__middle {
        padding: 6px;
        display: flex;
        flex-direction: column;
        gap: 9px;

        &--left {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

        &--leftPopup {
            background-color: var(--gray);
            color: var(--chat-on-the-left);
            width: 135px;
            padding: 7px 12px;
            border-radius: 10px 8px 8px 2px;
        }

        &--rightPopup {
            background-color: var(--White);
            color: var(--chat-on-the-right);
            padding: 7px 12px;
            border-radius: 8px 8px 2px 8px;
        }

        &--right {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        &--attachments {
            padding-top: 7px;
            display: flex;
            align-items: center;
            gap: 7px;
        }

        &--picture {
            border-radius: 12px;
            overflow: hidden;
        }

        &--img {
            display: block;
            width: 40px;
            height: 40px;
        }

        &--sms {
            font-size: 0.5rem;
            line-height: 0.7rem;
        }

        &--form {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

        &--itemForm {
            background-image: var(--Gradient02);
            width: 150px;
            height: 30px;
            border-radius: 10px 8px 8px 2px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 6px 12px;
        }

        &--middleheading {
            font-size: 0.6rem;
            color: var(--White);
        }

        &--span {
            font-size: 0.5rem;
            color: var(--White);
        }

        &--lbl {
            display: flex;
            position: relative;
            align-items: center;
            gap: 2px;
            padding: 1px 0;
        }
    }

    &__bottom {
        &--form {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--White);
            max-width: 214px;
            width: 90%;
            height: 34px;
            margin: 0 auto 10px;
            border-radius: 24px;
        }

        &--item {
            height: inherit;
            padding-left: 10px;
            width: 78%;
            display: flex;
            align-items: center;

            &:last-child {
                width: 18%;
            }
        }

        &--input {
            color: var(--placeholder-text);
            border: none;
            outline: none;
            background-color: transparent;
            font-size: 0.6rem;
            height: inherit;
            transition: var(--animation);

            &:hover,
            &:focus-visible {
                outline: none;
                color: var(--chat-on-the-left);
            }
        }

        &--btn {
            border: none;
            outline: none;
            background-color: var(--submit-button-background);
            width: 25px;
            height: 25px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &--btn svg {
            width: 6px;
        }
    }
}

.cellphone__middle--lbl input[type=radio] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-right: 15px;
}

.cellphone__middle--lbl input[type=radio]+i {
    border: 1px solid var(--radio-button-outline);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}

.cellphone__middle--lbl input[type=radio]+i::before {
    content: '';
    width: 7px;
    height: 7px;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 1px;
    background-color: var(--radio-button-outline);
    opacity: 0;
    transform: scale(0);
    transition: var(--animation);
}

.cellphone__middle--lbl input[type=radio]:checked+i::before {
    opacity: 1;
    transform: scale(1);
}

.cellphone__middle--lbl input[type=radio]:not(:checked)+i::before {
    background-color: transparent;
}

.booking {
    grid-area: description;
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 1;

    &__secondheading {
        text-align: center;
        color: var(--main-heading);
        margin-bottom: 28px;
        font-weight: 500;
    }

    &__paragraph {
        text-align: center;
        color: var(--paragraph);
        line-height: 1.6rem;
    }
}

@media screen and (min-width:768px) {
    .ellipse {
        height: 630px;
        border-bottom-left-radius: 220px;
    }

    .ellipse-down {
        height: 630px;
        /* border-top-right-radius: 220px; */
    }

    .container {
        padding-top: 140px;
    }

    .cellphone {
        &__top {
            &--back svg {
                width: 6px;
            }

            &--setting svg {
                width: 5px;
            }

            &--name {
                font-size: 0.7rem;
            }

            &--status {
                font-size: 0.6rem;
            }
        }

        &__middle {

            &--sms {
                font-size: 0.5rem;
                line-height: 0.7rem;
            }

            &--middleheading {
                font-size: 0.6rem;
            }

            &--span {
                font-size: 0.6rem;
            }

            &--leftPopup {
                width: 135px;
            }
        }

        &__bottom {

            &--input {
                font-size: 0.6rem;
            }
        }
    }
}

@media screen and (min-width:992px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "cellphone description";
        align-items: center;
    }

    .ellipse {
        max-width: 30%;
        height: 630px;
        border-bottom-left-radius: 220px;
    }

    .ellipse-down {
        max-width: 30%;
    }

    .cellphone {
        grid-area: cellphone;
    }

    .booking {
        grid-area: description;
        max-width: 450px;

        &__secondheading {
            text-align: left;
            font-size: 2rem;
        }

        &__paragraph {
            text-align: left;
            font-size: 0.9rem;
        }
    }
}

@media screen and (min-width:1200px) {
    .ellipse {
        max-width: 28.6%;
        height: 690px;
        border-bottom-left-radius: 220px;
    }

    .ellipse-down {
        max-width: 23.6%;
    }
}

.zoom-in {
    animation-name: appear;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-direction: normal;
    animation-fill-mode: none;
    /* shorthand 
      animation: appear 3s ease 0s infinite normal none;
      */
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }

    60% {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}